@import "./mixins";

$brand: #0275d8;
$success: #5cb85c;
$ballSize: 20;

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.clock{
  padding: 10px;
  font-family: monospace;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;

  button{
    background: $success;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    &:hover{
      background: darken($success, 20%);
    }
  }

  input {
    width: 40px;
  }

  .controls{
    position: absolute;
  }

  .ball{
    position: absolute;
    transform: translate(-50%, -50%);
    background: $brand;
    color: #fff;
    height: $ballSize + px;
    width: $ballSize + px;
    border-radius: 100px;
    transition: all .5s;

    &_label{
      font-size: 70%;
      @include v-h-center();
    }
  }

  .ballOutline{
    position: absolute;
    transform: translate(-50%, -50%);
    height: $ballSize - 2 + px;
    width: $ballSize - 2 + px;
    border: 1px solid #888;
    border-radius: 100px;

    &_label{
      @include h-center();
      font-weight: 400;
      top: 20px;
    }
  }

  .railLabel{
    @include v-center();
    left: 10px;
  }

  .rail{
    position: relative;
    height: 50px;

    * {
      display: inline-block;
    }

    &_label{
      @include v-center();
      left: 0px;
      padding-right: 40px;
    }

    &_ballOutline{
      @include v-h-center();
      border: 1px dotted #ccc;
      height: 20px;
      width: 20px;
      border-radius: 100px;
    }

    &_ballLabel{
      font-size: 80%;
      top: 22px;
      @include h-center();
    }
  }
}

